* {
    margin: 0;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Courgette', cursive;
     /*font-family: 'Quicksand', sans-serif;*/
     /*background: #BEC9F0; */
     box-sizing: border-box;
     padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
   /* border-radius: 0 0 25px 25px; */
    background: #DFE1F3;
}
.title {
 margin-left: 38%;
 color: #10177E;

}

/* Slider de fotografias */ 

.container-slider {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    
    /*border: 5px solid green;*/
    

}

 .slider {
    display: flex;
    width: 300%;
    height: 400px;  /* estos dos campos afectan el tamaño de la imagen*/
    /*border: 5px solid red;*/
   
}

.slider-section {
    width: 100%;
    /*border: 5px solid #10177E; */
} 

 .slider img {
    display: block;
    width: 100%;
    height: 380px;
    object-fit: cover;
    /*border: 5px solid yellow; */
    

} 

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .5);
    top: 45%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn--right {
    right: 10px;
}

.slider__btn--left {
    left: 10px;
}

/* Seccion para elegir el destino*/

/* .container-destination {
    border: 5px solid red;
} */

.destination-city { /*HIJO */
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
   /* border: 5px solid yellow; */
}

.destination-city img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.destination-city:hover img{
   transform: rotate(0) scale(1.1) translateZ(0);
  -webkit-filter: drop-shadow(0 20px 20px  #10177E);
  filter: drop-shadow(0 20px 20px #10177E);
}

.destination-city p {
    font-size: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 25px 0 0 0;
}

.destination { /* PAPA*/
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 row-gap: 5px;
 margin: 40px 0 0 0;

 
  border: 5px solid greenyellow; 
}
 /*Vista de los destinos */
.text-paragraph {
    font-size: 25px;
    margin-left: 22%;
    color: #10177E;
}

.destination-houston {
    border: 5px solid black;
}

.title-houston {
   margin: 0  0 5% 40%;
}

.img-distanation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    border: 5px solid yellowgreen;
}

.img-distanation img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.img-distanation:hover img {
    transform: rotate(0) scale(1.1) translateZ(0);
    -webkit-filter: drop-shadow(0 20px 20px);
     filter: drop-shadow(0 20px 20px);
}

.destination-description {
    display: flex; 
    align-content: center;
    font-size: 20px;
    margin: 10px 0 20px 0;
    border: 5px solid slateblue;

}

.validator-button {
    padding: 3px ;
    text-decoration: none;
    cursor: pointer;
    background-color: #BEC9F0;
    border: 5px solid purple;
}

.input-validator {
    display: none;
}